:root
{
  --red: #ff2e63;
  --black:#252a34;
  --blue:#08d9d6;
  --white: #eaeaea;
}
html
{
  scroll-behavior: smooth !important;
}

/* ::-webkit-scrollbar */
body
{
  background: #FFF;
  overflow-x: hidden;
  font-family: 'Red Hat Text', sans-serif;
}

/* Menu********************************************************* */
.menu
{
  z-index: 1;
  background: #FFF;
  height: 60px;
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0; 
  /* border-bottom: 1px solid var(--black); */
}
  .menu__title
  {
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
    
    margin-left: 20px;
  }
  .menu__list 
  {
    display: flex;
    list-style: none;
  }
    .menu__list li a
    {
      font-size: 16px;
      font-weight: 400;
      color: var(--black);
      transition: 0.3s all;
      border-bottom: 1px solid transparent;

      padding: 9px;
      margin-right: 25px;
    }
    .menu__list li a:hover
    {
      opacity: .7;
    }

/* HERO **********************************************************/

.hero
{
  background-image: url(../img/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  
  position: relative;
  /* top: 59px; */
  color: var(--white);
  width: 100%;
  height: 100vh;
  margin-bottom: 120px;
}
  .hero__bg
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero__card
  {
    color: #FFF;
    text-align: center;
    /* border: 1px solid red;
    background-color: yellow; */
  }
  .hero__card h2
  {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .hero__card hr
  {
    width: 400px;
    height: 1px;
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
  }
  .hero__card p 
  {
    font-size: 20px;
  }

/* AboutUs********************************************************* */
  .aboutUs
  {
    width: 100%;
    color: var(--black);
  }
  .infoContainer
  {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutUs__title
  {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .aboutUs p
  {
    padding: 10px  50px;
    font-size: 17px;
    text-align: center;
    line-height: 35px;
    margin: 10px 0;
    margin-bottom: 50px;
  }

  .aboutUs__gallery
  {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 50px;
  }

  .aboutUs__gallery div img
  {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

/* PROJECTS************************************************************ */
.bg-hack--projects
{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/img-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}
  .bg-hack--projects::before
  {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
  }

  .projects__container
  {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 100px;
  }
  .projects__title
  {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    border: 2px solid #FFF;
    padding: 10px 0;
    font-weight: normal;
  }
  .projects__title hr
  {
    border: none;
    background-color: #fff;
    height: 2px;
    width: 40%;
    margin-top: 10px;
  }

  .projects__gallery
  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 100px;
  }
  .projects__gallery img
  {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
  }

/* Testimony********************************************************* */

.testimony
{
  width: 100%;
  margin-top: 120px;
}

  .testimony__title
  {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
    font-weight: normal;
    color: var(--black);
    margin-bottom: 15px;
  }
  .testimony hr
  {
    height: 2px;
    width: 30%;
    margin: 0 auto;
    background-color: var(--black);
    border: none;
  }
  .testimony__cards
  {
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .testimony__card
  {
    position: relative;
    width: 40%;
    margin: 20px;
    text-align: center;
    color: var(--black);
    /* border: 2px solid var(--red); */
    /* border-radius: 1rem; */
    padding: 0 30px;
  }
    .testimony__card img
    {
      display: block;
      width: 150px;
      height: 150px;
      margin: 45px auto;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
    }
    .testimony__card span
    {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .testimony__card p
    {
      font-size: 18px;
    }

/* ContactUs********************************************************* */

.bg-hack--form
{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/footer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}
  .bg-hack--form::before
  {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
  }

.contactUs__container
{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
}

.contactUs__title
{
  width: 40%;
  margin: auto;
  text-align: center;
  color: #FFF;
  font-size: 40px;
  border: 2px solid #FFF;
  padding: 5px 0;
  font-weight: normal;
  margin-bottom: 50px;
}
.contactUs__title hr
{
  border: none;
  background-color: #fff;
  height: 2px;
  width: 40%;
  margin-top: 10px;
}

.contactUs__form
{
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgba(0,0,0, .9);
  margin: auto;
  border-radius: 3rem;
  border: 1px solid #FFF;
  padding: 40px 50px;
  text-align: center;
  color: var(--white);
}

.contactUs__form label
{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  color: #FFF;
}
.contactUs__form input, .contactUs__form textarea 
{
  text-align: center;
  padding: 12px 0;
  margin-bottom: 40px;
  border-radius: 1rem;
  border: 1px solid var(--black);
  background: rgb(126, 125, 125);
  color: #FFF;
}
::-webkit-input-placeholder 
{ 
  color: #ccc;
}

.contactUs__form a
{
  margin: 0 auto;
  width: 90px;
  margin-bottom: 40px;
}

.contactUs__form p
{
  font-size: 18px;
  text-align: left;
}

/* Footer***************************************** */
.footer
{
  background: rgba(0,0,0, 1);
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-top: 2px solid var(--black);
}


/* Responsive Design ******************************* */
.menu-icon
{
  display: none !important;
}

@media (max-width: 900px)
{
  .menu__list
  {
    position: absolute;
    top: -900px;
    right: 0;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background: #fff;
    border: 1px solid var(--black);
    border-radius: .5rem;
    padding-left: 0;
    transition: all .5s;
    text-align: center;
  }
  .menu__list li
  {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 0;
    padding: 5px 15px;
  }
  .menu-icon
  {
    display: inline-block !important;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 750px)
{
  .hero__card h2
  {
    font-size: 40px;
  }

  .aboutUs__title
  {
    font-size: 40px;
  }

  .aboutUs p
  {
    font-size: 15px;
  }

  .projects__title
  {
    width: 75%;
    font-size: 35px;
  }
  .projects__gallery
  {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .testimony__title
  {
    font-size: 40px;
  }

  .testimony__card
  {
    width: 100%;
  }

  .testimony__card span
  {
    font-size: 20px;
  }

  .testimony__card p 
  {
    font-size: 16px;
  }

  .contactUs__title
  {
    width: 60%;
    font-size: 35px;
  }
  .contactUs__form
  {
    width: 75%;
  }


}

@media (max-width: 550px)
{
  .hero__card h2
  {
    font-size: 30px;
  }

  .hero__card p
  {
    font-size: 15px;
  }
  .btn
  {
    font-size: 12px !important;
  }

  .aboutUs__title
  {
    font-size: 35px;
  }

  .aboutUs__gallery
  {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .aboutUs__gallery div img
  {
    height: 100%;
  }

  .projects__title 
  {
    width: 100%;
    font-size: 30px;
  }

  .projects__gallery 
  {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .testimony__title 
  {
    font-size: 35px;
  }

  .testimony__cards 
  {
    margin: 30px auto;
  }

  .contactUs__title 
  {
    width: 70%;
    font-size: 30px;
  }

  .contactUs__form 
  {
    width: 80%;
  }
  .contactUs__form label
  {
    font-size: 15px;
  }

  .footer
  {
    font-size: 15px;
  }
}



/* CLASES UTILITARIAS */

.btn
{
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  width: auto;
  padding: 8px 15px;
  border-radius: 1rem;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s all;
}
  .btn:hover
  {
    background-color: var(--blue);
  }

.active
{
  color: #000;
  border-bottom: 1px solid var(--black) !important;
}


/* Skew EFECT */
.skew-bottom
{
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 10vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.skew-top
{
  position: absolute;
  top: 0;
  left: 0;
  border-width: 10vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.skew-top-reverse
{
  position: absolute;
  top: 0;
  left: 0;
  border-width: 10vh 0 0 100vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.projects
{
  position: relative;
}
.contactUs
{
  position: relative;
}


/* SCROLLSPY */

